<ion-content>
  <form>
    <!-- Campo ID -->
    <ion-item>
      <ion-label position="stacked">ID</ion-label>
      <ion-input type="number" [(ngModel)]="product.id" name="id"></ion-input>
    </ion-item>

    <!-- Campo Titulo -->
    <ion-item>
      <ion-label position="stacked">titulo</ion-label>
      <ion-input type="text" [(ngModel)]="product.title" name="title"></ion-input>
    </ion-item>

    <!-- Campo Precio -->
    <ion-item>
      <ion-label position="stacked">precio</ion-label>
      <ion-input type="number" [(ngModel)]="product.price" name="price"></ion-input>
    </ion-item>

    <!-- Campo Descripcion -->
    <ion-item>
      <ion-label position="stacked">descripcion</ion-label>
      <ion-textarea [(ngModel)]="product.description" name="description"></ion-textarea>
    </ion-item>

    <!-- Campo Categoria -->
    <ion-item>
      <ion-label position="stacked">categoria</ion-label>
      <ion-select [(ngModel)]="product.category" name="category">
        <ion-select-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campo Imagen -->
    <ion-item>
      <ion-label position="stacked">URL imagen</ion-label>
      <ion-input type="url" [(ngModel)]="product.image" name="image"></ion-input>
    </ion-item>

    <!-- Campo Calificacion -->
    <ion-item>
      <ion-label position="stacked">calificacion</ion-label>
      <ion-input type="number" [(ngModel)]="product.rating.rate" name="ratingRate"></ion-input>
    </ion-item>

    <!-- Campo Numero de Reseñas -->
    <ion-item>
      <ion-label position="stacked">numero de Reseñas</ion-label>
      <ion-input type="number" [(ngModel)]="product.rating.count" name="ratingCount"></ion-input>
    </ion-item>

    <!-- Boton de Enviar -->
    <ion-button expand="block" (click)="guardarProducto()">
      Guardar Producto
    </ion-button>
  </form>
</ion-content>