<ion-content>
  <form [formGroup]="productForm">
    <!-- Campo id -->
    <ion-item>
      <ion-label position="stacked">ID</ion-label>
      <ion-input type="number" formControlName="id"></ion-input>
    </ion-item>

    <!-- Campo Titulo -->
    <ion-item>
      <ion-label position="stacked">titulo</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>

    <!-- Campo Precio -->
    <ion-item>
      <ion-label position="stacked">precio</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <!-- Campo Descripcion -->
    <ion-item>
      <ion-label position="stacked">descripcion</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <!-- Campo Categoria -->
    <ion-item>
      <ion-label position="stacked">categoria</ion-label>
      <ion-select formControlName="category">
        <ion-select-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campo Imagen -->
    <ion-item>
      <ion-label position="stacked">URL de la imagen</ion-label>
      <ion-input type="url" formControlName="image"></ion-input>
    </ion-item>

    <!-- Campo Calificacion -->
    <ion-item>
      <ion-label position="stacked">calificacion</ion-label>
      <ion-input type="number" formControlName="ratingRate"></ion-input>
    </ion-item>

    <!-- Campo Nimero de Reseñas -->
    <ion-item>
      <ion-label position="stacked">numero de reseñas</ion-label>
      <ion-input type="number" formControlName="ratingCount"></ion-input>
    </ion-item>

    <!-- Boton de Enviar -->
    <ion-button expand="block" (click)="guardarProducto()">
      Guardar Producto
    </ion-button>
  </form>
</ion-content>
